@import 'public/stylus/index'

nav
  display flex
  align-items center
  justify-content center
  background-color secondary
  color tertiary
  border-radius()

button
  margin 10px

@media tablet_and_desktop
  nav
    display flex
    background-color primary
    color secondary
    border-radius()

