@import 'public/stylus/index'

// Default Mobile Styles

nav
  display flex
  align-items center
  justify-content center
  background-color primary
  color secondary
  border-radius()
a
  padding 0
  margin 10px

button
  font-size 1.2em
  border 5px outset
  border-color white
  background-color button
  &:hover
    background-color buttonhover
    border-style inset
  padding 5px
  cursor pointer
  border-radius()

// Tablet Styles

@media tablet
  nav
    display flex
    background-color primary
    color secondary
    border-radius()
