@import 'public/stylus/index'

// Default Mobile Styles

nav
  display flex
  align-items center
  justify-content center
  background-color primary
  color secondary
  border-radius()

button
  margin 10px

// Tablet Styles
@media tablet
  nav
    display flex
    background-color primary
    color secondary
    border-radius()
